.App {
  margin: 0;
}

body {
  overflow-y:hidden;
}

.container {
  margin: 0 !important;
  max-width: 100% !important;
}

.root {
  margin: 0 !important;
}

.megawrap {
  margin-left: 0px !important;
  background-color: #F2F3F7;
}

.toggleSubmitButton {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10px !important;
  background-color: #88C440 !important;
  margin-left: 40px;
}

.containerSideNavAndProducts {
  background-color: white !important;
}

button {
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.33);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.33);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.33);
}