.productsingle {
    color:#212528;
    margin-top: 20px;
    border-radius: 50px;
    
}

div.col-sm-10 {
    background-color: #F2F3F7;
}
.commentSection{
    background-color:white;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.39);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.39);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.39);
    height:40vw;
}
.productsingle .card-img-top {
    height: 29vw;
    object-fit: scale-down;
}

.card-body {
    justify-content: center;
}

.onFullScreenButton {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}