.productsingle {
    color:#212528;
    margin-top: 20px;
    border-radius: 50px;
    
}

div.col-sm-10 {
    background-color: #F2F3F7;
}
.commentSection{
    background-color:white;
    -webkit-box-shadow: 0 2px 10px rgba(0,0,0,0.05);
    -moz-box-shadow: 0 2px 10px rgba(0,0,0,0.05);
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
    height:80vh;
}

.commentSection h4 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.commentSection #messages {
    height: 66vh !important;
}

.productsingle .card-img-top {
    height: 29vw;
    object-fit: scale-down;
}

.card-body {
    justify-content: center;
}

.onFullScreenButton {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}