body {
    background-color: white;
  }
  .bigDiv {
    background-image: linear-gradient(
      to right top,
      #515a46,
      #657d45,
      #79a040,
      #8fc533,
      #a8eb12
    );
    display: inline-block;
    width: 900px;
    height: 500px;
    margin-top: 130px;
    margin-left: 170px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 112px 18px 52px 17px rgba(0, 0, 0, 0.54);
    -webkit-box-shadow: 112px 18px 52px 17px rgba(0, 0, 0, 0.54);
    -moz-box-shadow: 112px 18px 52px 17px rgba(0, 0, 0, 0.54);
    border-radius: 20px 0px 0px 20px;
  }
  h2 {
    font-family: sans-serif;
    color: white;
    font-size: 50px;
    margin-left: 80px;
    margin-top: 60px;
    width: 60px;
  }
  .text {
    width: 80px;
    display: grid;
    grid-template-rows: 1fr 2fr 1fr 1fr;
  }
  .textInside {
    width: 300px;
  }
  div.icon {
    margin-left: 80px;
    margin-top: 0px;
    width: 20px;
  }
  h6 {
    color: white;
    font-family: sans-serif;
    margin-left: 80px;
    margin-top:59px;
  }
  div.image {
    margin-left: 0px;
    margin-top: 0px;
  }
  .icon1 {
    height: 20px;
    margin-right: 10px;
  }
  p {
    color: white;
    width: 300x;
    margin-left: 80px;
    font-family: sans-serif;
    font-weight: lighter;
  }
  a.goToApp {
    margin-left: 5000px;
  }
  .Button {
    background-color: white;
    border-radius: 15px;
    font-family: Arial;
    color: #515a46;
    font-size: 14px;
    padding: 10px 20px 10px 20px;
    margin-left: 80px;
    margin-top: 10px;
  }
  .icon {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .heading {
    border-radius: 0px 20px 20px 0px;
  }
  .smallImage {
    border-radius: 20px 0px 0px 0px;
  }
  