nav {
    font-family: 'Indie Flower', cursive;
    font-size: 20px;
    background-color: #4F372D !important;
    font-weight: bold;
    color: white;
}

a.navbar-brand{
    color: white !important;
}