nav {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 18px;
    background-color: #B8D870 !important;
    color: white;
}

a.navbar-brand{
    color:#5C5F6D !important;
    font-weight: bold !important;
}

div.mr-auto.navbar-nav a.nav-link {
    color:#5C5F6D !important;
}