.ProfileContent {
    border-left: 1px solid black;
    height:800px;
    width: 1200px;
}

.profpic{
    margin: 30px;
    border-radius: 20px;
    object-fit: cover;
    background-repeat: no-repeat;
}

.ProfilePicture h3 {
    font-style:italic;
    margin:10px;
}

.profileContainer {
    background-color: lightgray;
    font-family: 'Merriweather Sans', sans-serif;
    border-radius:20px;
    max-width:80%;
    margin: 2%;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.39);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.39);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.39);
}