.SidebarMain {
    height: 100vh;
    background-color: #F2F3F7 !important
}

ul.nav {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #5C5F6D !important;
}

a.nav-link {
    color: #5C5F6D;
}

.SideBarLinks {
    color:#5C5F6D !important;
}

.myShares {
    color: #5C5F6D !important;
    font-family: 'Roboto', sans-serif;
}

div.col-sm-2 {
    background-color: #F2F3F7 !important
}