.SidebarMain {
    height: 100vh;
    background-color: white !important;
}

ul.nav {
    font-family: 'Indie Flower', cursive;
    font-size: 20px;
    color: black !important;
    font-weight: bold;
}

a.nav-link {
    color: black;
}

.SideBarLinks {
    color:black !important;
}