#signup {
    background-image: url('./img/bglogin.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1570px 951px;
    height:100vh;
    margin: 0px;
}

.signup {
    margin-top: 240px;
}

.signupform input.form-control {
    width: 100%;
}